.menu {
    display: flex;
    
    border: 1px solid red;
}

#izquierda {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid blue;
    width: 50%;
    margin-left: 20px;
}

#derecha {
    display: flex;
    justify-content: end;
    align-content: center;
    border: 1px solid green;
    width: 50%;
    margin-right: 20px;
}

.icono {
    width: 50px;
    margin: 15px;
}

/* Fondo oscuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Popup */
.popup {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 6px;
    text-align: center;
}

/* Mostrar popup */
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Inputs */
.popup input {
    width: 90%;
    padding: 8px;
    margin: 8px;
}

/* Botón */
.popup button {
    width: 80%;
    padding: 8px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

/* Cerrar */
.close {
    position: absolute;
    margin-left: 110px;
    cursor: pointer;
    font-size: 18px;
}

input.valido{
    border-color: #36cc36;
}
input.invalido{
    border-color: red;
}
input + p{
    font-family: arial;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: red;
    opacity: 0;
    height: 0;
}
input.invalido + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}


/*Carrusel*/
.carousel {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 800px;
  display: block;
}

/* Página principal */
#principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#principal .card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid lightgrey;
    border-radius: 15px;
    padding: 20px;
}

#informacion {
    margin-left: 20px;
}

.precio {
    color: red;
}

/*Sobre nosotros*/
#contenedorSobreNosostros {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorSobreNosostros img{
    width: 40%;
}

#infoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoSobreNosotros h1{
    font-size: 60px;
}

#infoSobreNosotros p{
    font-size: 20px;
}