.menu {
    display: flex;
    
    border: 1px solid red;
}

#izquierda {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid blue;
    width: 50%;
    margin-left: 20px;
}

#derecha {
    display: flex;
    justify-content: end;
    align-content: center;
    border: 1px solid green;
    width: 50%;
    margin-right: 20px;
}

.icono {
    width: 50px;
    margin: 15px;
}